@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import "tailwindcss";

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
@layer utilities {
  .animate-fade-slide-enter {
    animation: fadeSlideIn 0.4s ease-out forwards;
  }

  .animate-fade-slide-exit {
    animation: fadeSlideOut 0.4s ease-in forwards;
  }

  @keyframes fadeSlideIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeSlideOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}

.animate-scaleOut {
  animation: scaleOut 0.3s ease-in forwards;
}
